#background-home{
  width: 80vw;
  height: 90vh;
  background-image: url(/assets/bernini.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right:auto;
}

#background_col-home{
  width: 100vw;
  height: 110vh;
  background-image: url(/assets/bernini.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right:auto;
  background-color: black;
}
